/*-------------This is the Footer area-*/
#footer {
  background: rgba(0, 0, 0, 0.1); }

#footer h3.blueHeaders {
  text-align: center; }

#footer p {
  color: #000;
  text-align: left; }

#footer #footerAboutUs {
  width: 31%; }

#footer #footerAboutUs p {
  padding: 2% 5%; }

#footer #footerNav {
  display: block;
  width: 30%;
  border: none;
  margin: 0 4%; }

#footer-widgets.col-4 .block {
  width: 100%;
  padding-top: 6px; }

#footer #footerContact {
  width: 31%; }

#footer .footerSiteMapDiv h3 {
  width: 100%;
  margin: 3% auto;
  font-size: 1.2em; }

#footer .footerSiteMapDiv h3 a {
  color: #fff; }

#footer #footerContact p {
  font-size: 1em; }

#footer #footerContact h5 {
  font-size: 1.25em;
  color: #000;
  padding-top: 1em;
  font-weight: bold; }

#footer .footerSiteMapDiv #footer-widgets {
  padding: 0;
  border: none; }

#footer #footerContact .whiteCard {
  padding-bottom: 10%; }

.footerSocialMediaLogin {
  width: 100%;
  margin: 10% 0 0 20%; }

.footerSocialMediaLogin ul {
  float: left; }

.footerSocialMediaLogin ul li {
  float: left;
  margin: 0 0 0 5px;
  display: inline-block; }

.footerSocialMediaLogin ul li a {
  padding: 1.10em;
  font-size: inherit; }